.mainDiv {
  padding-top: 70px;
  padding-bottom: 70px;

  padding-right: 130px;

  background-color: rgba(220, 81, 3, 1);
  display: flex;
  justify-content: space-evenly;
  height: 300px;
}

.firstRow {
  list-style: none;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 2;
}

.emailAddress {
  border-radius: 8px;
  border: 2px solid white;
  margin-top: 6%;
  width: 148%;
  height: 40px;
  text-align: calc(100-60);
}
.subscribeBtn {
  background-color: rgba(255, 255, 255, 1);
  width: 150%;
  margin-top: 9%;
  border-radius: 8px;
}

.socials {
  margin-top: 15%;
  font-size: 16px;
  font-weight: 400;
}

.classIcons {
  display: flex;
  justify-content: space-evenly;
}

.copyRight {
  background-color: rgba(252, 99, 13, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
}
